<%= form_with model: movie do |form| %>


<%= render "shared/errors", object: movie %>

  <div class="container text-center">
    <div class = 'row mt-3'>
      <div class = 'col'>

        <div class="row mb-3">
          <div class="col">
            <%= form.label :title, class: "form-label" %><br>
            <%= form.text_field :title, id: "title", class: "form-control", placeholder: "Movie Title" %><br>
            <% movie.errors.full_messages_for(:title).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
        </div> 

        <div class="col">
            <%= form.label :english_title, class: "form-label" %><br>
            <%= form.text_field :english_title, id: "english_title", class: "form-control", placeholder: "English Title" %><br>
            <% movie.errors.full_messages_for(:english_title).each do | message | %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <%= form.label :where_to_watch, class: "form-label" %><br>
            <%= form.text_field :where_to_watch, id: "where_to_watch", class: "form-control", placeholder: "Where can you watch it?" %><br>
            <% movie.errors.full_messages_for(:where_to_watch).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div>

        <div class="col">
            <%= form.label :runtime, class: "form-label" %><br>
            <%= form.text_field :runtime, id: "runtime", class: "form-control", placeholder: "Runtime (in mins)" %><br>
            <% movie.errors.full_messages_for(:runtime).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <%= form.label :rating, class: "form-label" %><br>
            <%= form.text_field :rating, id: "rating", class: "form-control", placeholder: "Rating" %><br>
            <% movie.errors.full_messages_for(:rating).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div>

        
          <div class="col">
            <%= form.label :url, class: "form-label" %><br>
            <%= form.text_field :url, id: "rating", class: "form-control", placeholder: "URL" %><br>
            <% movie.errors.full_messages_for(:url).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>

         <div class="row mb-3">
          <div class="col">
            <%= form.label :picture_url, class: "form-label" %><br>
            <%= form.text_field :picture_url, id: "picture_url", class: "form-control", placeholder: "Picture URL" %><br>
            <% movie.errors.full_messages_for(:picture_url).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>

                 <div class="row mb-3">
          <div class="col">
            <%= form.label :released_on, class: "form-label" %><br>
            <%= form.text_field :released_on, id: "released_on", class: "form-control", placeholder: "Released On" %><br>
            <% movie.errors.full_messages_for(:released_on).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>


        <%= form.submit "Create Movie", class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  </div>
  </div>
 <% end %>  