<section class="container mt-5">
  <nav class="navbar navbar-expand-lg navbar-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand">Look for a movie!</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <% @movies.each do |movie| %>
      <div class="col">
        <div class="card movie-card h-100">
          <% if movie.picture_url.present? %>
            <picture>
              <img src="<%= movie.picture_url %>" class="card-img-top" alt="<%= movie.title %>">
            </picture>
          <% else %>
            <picture>
              <img src="placeholder_image_url.jpg" class="card-img-top" alt="Placeholder">
            </picture>
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title mb-2"><%= movie.title %></h5>
            <p class="card-text mb-2">Mates rated this movie as <%= average_stars(movie) %> out of 5!</p>
            <%= link_to "See More!", movie_path(movie), class: "btn btn-dark btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if current_user_admin? %>
    <div class="text-center mt-3">
      <%= link_to "New Movie", new_movie_path, class: "btn btn-outline-dark mt-3" %>
    </div>
  <% end %>
</section>

<style>
.movie-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  object-fit: cover;
  height: 260px; 
  width: 100%;
}

</style>