<div class="container text-center">
  <div class = 'row mt-3 justify-content-center'>

    <div class = 'col'>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Movie Title</div>
            <div class="card-body">
              <h2 class="card-title"><%= @movie.title %></h2> 
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">English Movie Title</div>
            <div class="card-body">
              <h3 class="card-title"><%= @movie.english_title %></h3> 
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Where to watch?</div>
            <div class="card-body">
              <p class="card-title"><%= @movie.where_to_watch %></p>  
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Rating (0-10)</div>
            <div class="card-body">
              <h4 class="card-title"><%= @movie.rating %></h4>  
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Runtime (in mins)</div>
            <div class="card-body">
              <h3 class="card-title"><%= @movie.runtime %></h3> 
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">See here</div>
            <div class="card-body">
              <p class="card-title"><a href="<%= @movie.url %>" target="_blank"><%= @movie.url %></a></p>  
            </div>
          </div>
        </div>
      </div>

       <aside>
        <% if @fans.present? %>
          <h4>Mates who liked: </h4>
          <ul>
            <% @fans.each do |user| %>
              <li>
                <%= link_to user.name, user %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </aside>

      <div class="row mb-3">
        <div class="col-md-6">
          <div class="card border-dark mb-3">
            <div class="card-header">Movie Picture</div>
            <div class="card-body p-0">
              <img src="<%= @movie.picture_url %>" class="card-img-top" alt="Movie Picture" style="width: 50%; height: auto;">
            </div>
          </div>
        </div>
      </div>

      <div class="reviews">
        <%= average_stars(@movie) %>
        <%= link_to pluralize(@movie.reviews.size, "review"),
                movie_reviews_path(@movie) %>
      </div>

      <ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><li> <%= link_to "Write Review", new_movie_review_path(@movie),
                                                class: "review"%>
          <li class="list-group-item"><li> <%= link_to "Home Page", root_path %> </li></li>
            <% if current_user_admin? %>
              <section class= "admin" >
          <li class="list-group-item"><li> <%= link_to "Edit", edit_movie_path(@movie) %> </li></li>
          <li class="list-group-item"><li> <%= link_to "Destroy", movie_path(@movie),
                data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?" }%> </li></li>
               </section>
              <% end %>
        </ul>
      </ul>

    </div>
  </div>
</div>