<%= form_with model: user do |form| %>
   <div class="container text-center">
    <div class='row mt-3'>
      <div class='col'>

        <%= render "shared/errors", object: user %>

         <div class="row mb-3">
          <div class="col">
            <%= form.label :name, class: "form-label" %><br>
            <%= form.text_field :name, id: "name", class: "form-control", placeholder: "Name" %><br>
            <% user.errors.full_messages_for(:name).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div> 

          <div class="col">
            <%= form.label :email, class: "form-label" %><br>
            <%= form.text_field :email, id: "email", class: "form-control", placeholder: "Email" %><br>
            <% user.errors.full_messages_for(:email).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <%= form.label :password, class: "form-label" %><br>
            <%= form.text_field :password, id: "password", class: "form-control", placeholder: "Password" %><br>
            <% user.errors.full_messages_for(:password).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div>

          <div class="col">
            <%= form.label :password_confirmation, class: "form-label" %><br>
            <%= form.text_field :password_confirmation, id: "password_confirmation", class: "form-control", placeholder: "Password Confirmation" %><br>
            <% user.errors.full_messages_for(:password_confirmation).each do |message| %>
              <div class="invalid-feedback">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>

        
        <% if user.new_record? %>
          <%= form.submit 'Sign up!', class: 'btn btn-outline-secondary'%>
        <% else %>
          <%= form.submit 'Update Account', class: 'btn btn-outline-secondary'%>
        <% end %>
      </div>
    </div>
  </div>
 <% end %>  