<section class="user-list py-5">
  <div class="container mt-4">
    <div class="text-center mb-4">
      <h1>
        <%= pluralize(@users.size, "Mate") %>
      </h1>
    </div>

    <div class="filter-toggle text-center mb-4">
      <% if params[:filter] == 'followed' %>
        <%= link_to "<i class='bi bi-people'></i> Show All Users".html_safe, users_path, class: "btn btn-outline-dark" %>
      <% else %>
        <%= link_to "<i class='bi bi-heart'></i> Show Followed".html_safe, users_path(filter: 'followed'), class: "btn btn-outline-primary" %>
      <% end %>
    </div>

    <div class="list-group">
      <% @users.each do |user| %>
        <div class="list-group-item d-flex justify-content-between align-items-center p-3 shadow-sm rounded mb-3">
          <div class="user-info flex-grow-1">
            <%= link_to user_path(year: params[:year], id: user.id), class: "text-decoration-none text-dark" do %>
              <h5 class="mb-1"><%= user.name %></h5>
              <p class="mb-1"><small class="text-muted"><%= pluralize(user.reviews.count, 'movie') %> rated</small></p>
              <% progress = (user.reviews.count.to_f / @total_movies_count) * 100 %>
              <p class="mb-0"><small class="text-muted">Progress: <%= number_to_percentage(progress, precision: 0) %> watched</small></p>
            <% end %>
          </div>

          <div class="user-actions">
            <% if user != current_user %>
              <% if current_user.following.include?(user) %>
                <%= button_to 'Unfollow', unfollow_user_path(year: params[:year], id: user.id), method: :delete, class: "btn btn-danger btn-sm", data: { disable_with: "Unfollowing..." } %>
              <% else %>
                <%= button_to 'Follow', follow_user_path(year: params[:year], id: user.id), method: :post, class: "btn btn-primary btn-sm", data: { disable_with: "Following..." } %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


<style>
 
  .list-group-item {
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .list-group-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
</style>
