<section class="user-list py-5">
  <div class="container mt-4">
    <div class="text-center mb-4">
      <h1>
        <%= pluralize(@users.size, "Mate") %>
      </h1>
    </div>

    <div class="list-group">
      <% @users.each do |user| %>
        <div class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to user, class: "flex-grow-1 text-decoration-none", style: "color: inherit;" do %>
          <h5 class="mb-1"><%= user.name %></h5>
          <small><%= pluralize(user.reviews.count, 'movie') %> rated</small>
          <% progress = (user.reviews.count.to_f / @total_movies_count) * 100 %>
            <small class="text-muted">Progress: <%= number_to_percentage(progress, precision: 0) %> watched</small>
        <% end %>
          <% if user != current_user %>
            <% if current_user.following.include?(user) %>
              <%= button_to 'Unfollow', unfollow_user_path(user), method: :delete, class: "btn btn-danger btn-sm ms-2"%>
            <% else %>
              <%= button_to 'Follow', follow_user_path(user), method: :post, class: "btn btn-primary btn-sm ms-2" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>