<section class="user-list py-5">
  <div class="container mt-4">
    <div class="text-center mb-4">
      <h1>
        <%= pluralize(@users.size, "Mate") %>
      </h1>
      <%= link_to "Home Page", root_path, class: "btn btn-outline-dark me-2" %>
    </div>
    
    <!-- Search Bar -->
    <div class="mb-4">
      <%= form_with url: users_path, method: :get, local: true, class: "d-flex justify-content-center" do |form| %>
        <%= form.text_field :search, class: "form-control me-2", placeholder: "Search Mates", style: "max-width: 300px;" %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="row">
      <% @users.each do |user| %>
        <div class="col-md-4 mb-4">
          <div class="card border-light h-100">
            <div class="card-body text-center">
              <h5 class="card-title">
                <%= link_to user.name, user, class: "text-decoration-none text-dark" %>
              </h5>
              <p class="card-text">
                <%= "#{pluralize(user.reviews.count, 'movie')} rated" %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>