<div class="container">
  <div class="text-center mb-5">
    <h3>Your Stats</h3>
    <p>Movies Watched: <strong><%= @total_movies_watched %></strong></p>
    <p>Total Minutes Watched: <strong><%= @total_minutes_watched %> mins</strong></p>
  </div>

  <div data-controller="chart" 
     data-chart-minutes-watched-value="<%= @mates_stats.to_json %>">
  <canvas></canvas>
</div>

  <div class="mt-4">
    <h4>Latest Reviews from Your Mates</h4>
    <% if @mates_reviews.any? %>
      <ul class="list-group">
        <% @mates_reviews.each do |review| %>
          <li class="list-group-item">
            <strong><%= review.user.name %></strong> watched 
            <%= review.movie.title %> on 
            <%= review.watched_on.strftime("%B %d, %Y") %>:
            <%= review.comment %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No reviews from your mates yet.</p>
    <% end %>
  </div>
</div>
