<%# Avatar component
    Parameters:
    - user: User object (required)
    - size: :sm (32px), :md (48px), :lg (80px), :xl (100px) - default: :md
    - editable: boolean - show edit overlay - default: false
    - link: boolean - wrap in link to user profile - default: false
%>
<% size ||= :md %>
<% editable ||= false %>
<% link ||= false %>

<%
  size_classes = {
    sm: 'avatar-sm',
    md: 'avatar-md',
    lg: 'avatar-lg',
    xl: 'avatar-xl'
  }
%>

<% avatar_content = capture do %>
  <div class="avatar-component relative inline-block">
    <% if user.avatar.attached? %>
      <%= image_tag url_for(user.avatar),
                    class: "#{size_classes[size]} rounded-full object-cover object-center shadow-sm" %>
    <% else %>
      <div class="<%= size_classes[size] %> rounded-full flex items-center justify-center text-white font-semibold shadow-sm"
           style="background-color: <%= avatar_color(user.name) %>;">
        <%= avatar_initials(user.name) %>
      </div>
    <% end %>

    <% if editable %>
      <label for="avatar-upload" class="avatar-edit-overlay <%= size_classes[size] %>">
        <i data-lucide="pencil"></i>
      </label>
    <% end %>
  </div>
<% end %>

<% if link && !editable %>
  <%= link_to user_path(user), class: "inline-block" do %>
    <%= avatar_content %>
  <% end %>
<% else %>
  <%= avatar_content %>
<% end %>
