<h1 class="text-center mt-4">Reviews for <%= link_to @movie.title, @movie, style: "text-decoration: none; color: #c82388;" %></h1>
<ul class="reviews list-group">
  <% @reviews.each do |review| %>
    <li class="list-group-item d-flex justify-content-center">
      <div class="review">
        <div class="stars text-center">
          <%= render_stars(review.stars) %>
        </div>
        <div class="info">
          <p class="text-center">
            <%= link_to review.user.name, review.user, style: "text-decoration: none; color: #c82388;" %>
            <span class="date">
              <%= time_ago_in_words(review.created_at) %> ago
            </span>
          </p>
          <p class="comment text-center">
            <%= review.comment %>
          </p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
