<header class="bg-dark py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="text-light mb-0">Oscars Mates</h1>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to "Mates", users_path, class: "nav-link text-light"%>
        </li>
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li><%= link_to "Account Settings", edit_user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "Sign Out", session_path, method: :delete, class: "dropdown-item", data: { turbo_method: :delete } %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", signin_path, class: "nav-link text-light"%>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_path, class: "nav-link text-light"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>