<!DOCTYPE html>
<html>
  <head>
    
    <title>OscarsMates</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <h1>Oscars Mates</h1>
    </header>

    <div class = "content">
      <%= render "layouts/flash" %>
    <%= yield %>
    </div>

    <footer>
      <p>
        Copyright &copy; <%= Time.now.year %>
        <%= link_to "The Pragmatic Studio", "https://pragmaticstudio.com" %>
      </p>
    </footer>
  </body>
</html>
